* {
  margin: 0px;
  padding: 0px;
}
.cf {
  display: flex;
  justify-content: flex-start;
  direction: rtl;
}
ul {
  list-style-type: none;
  display: flex;
  right: 0;
  padding: 0px;
  margin: 0px;
}
.imgk {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.imgn {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
}
li {
  margin: 5px;
}
/*---#----444444444444-----#--------------#*/
.p1-6 {
  font-size: 50px;
  font-weight: 500;
}
.p1 {
  color: blue;
}
.p2 {
  color: red;
}
.p3 {
  color: yellow;
}
.p4 {
  color: blue;
}
.p5 {
  color: green;
}
.p6 {
  color: red;
}
input {
  width: 80%;
  max-width: 800px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.pg {
  background-color: #d6d6d6b8;
  padding: 5px;
}
