/*html {
  scroll-behavior: smooth;
}*/

* {
  margin: 0px;
  padding: 0px;
}
@keyframes blink {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #c74c4c;
  }
  100% {
    background-color: #fff;
  }
}

/*.cf {
  display: flex;
  justify-content: flex-start;
  direction: rtl;
}*/

ul li {
  margin: 5px;
  padding: 5px 5px;
  list-style-type: none;
  cursor: pointer;
}
ul li:hover {
  transition: all 0.3s ease;
}
.gmaill:hover {
  text-decoration: underline;
}
.images:hover {
  text-decoration: underline;
}
.imgk {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.imgk:hover {
  border-radius: 25px;
  box-shadow: 0 0 0 7px #f1f1f1;
}
.icn1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}

.icn1:hover {
  background-color: #f1f1f1;
}
.icn {
  font-size: 20px;
}

/*---#----444444444444-----#--------------#*/
.row1 {
  margin-bottom: 155px;
  width: 90%;
}
.p1-6 {
  font-size: 80px;
  font-weight: 500;
}
.p1-6 p {
  margin: 0 -1px;
}
.p1 {
  color: #4285f4;
}
.p2 {
  color: #ea4335;
}
.p3 {
  color: #fbbc05;
}
.p4 {
  color: #4285f4;
}
.p5 {
  color: #34a853;
}
.p6 {
  color: #ea4335;
  transform: rotate(-20deg);
}

.input-wrapper input {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  border: 1px solid #d6d6d6;
  padding-left: 35px;
  padding-right: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}
input:focus {
  outline: none;
  padding-left: 28px;
}
input:focus::placeholder {
  color: transparent;
}

.fsearch {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}
.fmic,
.fcam {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}
.fmic {
  right: 10px;
}
.fcam {
  right: 40px;
}
.pg {
  background-color: #d6d6d6b8;
  padding: 5px;
}
